<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/background_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParXonDemo1"
        tools:targetApi="31">


            <!-- Main Activity -->
        <activity
                android:name=".MainActivity"
                android:exported="true" />
        <activity
                android:name=".DetailsActivity"
                android:exported="true" />
        <activity
            android:name=".RoleActivity"
            android:exported="true" />

        <activity
            android:name=".LinkActivity"
            android:exported="true" />

        <activity
            android:name=".StartExerciseActivity"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity2"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity3"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity4"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity5"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity6"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity7"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity8"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity9"
            android:exported="true" />


        <activity
            android:name=".StartExerciseActivity10"
            android:exported="true" />

        <activity
            android:name=".StartExerciseActivity11"
            android:exported="true" />


        <activity
            android:name=".MissedItemsActivity"
            android:exported="true" />

        <activity
            android:name=".VoiceCommandsActivity"
            android:exported="true" />












        <!-- Other activities -->
        </application>


</manifest>
